/* General Selectors */
body {
  margin: 0;
}
/* BG Image */
body {
  background-image: url(./assets/destination/background-destination-desktop.jpg);
  background-size: cover;
}

@media only screen and (max-width: 1440px) {
  body {
    background-image: url(./assets/destination/background-destination-desktop.jpg);
    background-size: auto;
  }
}
@media only screen and (max-width: 980px) {
  body {
    background-image: url(./assets/destination/background-destination-tablet.jpg);
    background-size: cover;
  }
}
@media only screen and (max-width: 650px) {
  body {
    background-image: url(./assets/destination/background-destination-mobile.jpg);
    background-size: cover;
  }
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
/* Colors */
body {
  color: white;
}
.nav-container {
  backdrop-filter: blur(25px) grayscale(0%) saturate(50%) brightness(150%);
}

/* -------HomePage Layout-------- */
/* Logo */
.logo {
  margin-top: 3.3em;
  margin-left: 3em;
  width: 9em;
}
@media only screen and (max-width: 980px) {
  .logo {
    margin-top: 1.5em;
    margin-left: 1em;
  }
}
/* Hamburger Menu */
.destination-hamburger-menu {
  display: none;
  cursor: pointer;
}
@media only screen and (max-width: 650px) {
  .destination-hamburger-menu {
    display: block;
    margin-top: 2.1em;
    width: 5em;
    position: relative;
    left: 65%;
  }
}
/* Header and Nav-bar Layout*/
/* Flexed Elements */
.destination-header,
.destination-nav,
.destination-main-container,
.destination-nav-items,
body {
  display: flex;
}
@media only screen and (max-width: 980px) {
  .destination-container,
  .destination-main-container,
  .destination-article-container {
    flex-direction: column;
    align-items: center;
  }
}
.destination-container {
  width: 100%;
}
@media only screen and (max-width: 650px) {
  .destination-container {
    width: 75%;
  }
}
.destination-header {
  align-items: center;
}
.destination-header {
  position: relative;
  left: -2em;
  margin-top: 2em;
}
@media only screen and (max-width: 980px) {
  .destination-header {
    margin-top: 0;
  }
}
@media only screen and (max-width: 650px) {
  .destination-header {
    display: none;
  }
}
.header-line {
  width: 45%;
  border: none;
  height: 1px;
  color: #979797;
  background-color: #979797;
  opacity: 0.4;
  position: relative;
  z-index: 1;
  right: -4em;
  margin-left: -2em;
}
@media only screen and (max-width: 1400px) {
  .header-line {
    display: none;
  }
}
.nav-container {
  width: 100%;
  transform: translateX(2em);
}
.destination-nav {
  gap: 8%;
  margin: 0;
  padding-left: 7em;
  list-style: none;
  white-space: nowrap;
}
@media only screen and (max-width: 980px) {
  .destination-nav {
    padding-left: 2em;
    padding-right: 6em;
  }
}
.destination-nav-item {
  padding-top: 1.3em;
  padding-bottom: 1.3em;
}
.destination-nav-item:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
  margin-bottom: -2px;
}
.destination-nav-item:visited {
  opacity: 0.5;
}
.sub-nav {
  padding-bottom: 0;
}
@media only screen and (max-width: 980px) {
  .nav-bar-number-span {
    display: none;
  }
  .nav-bar-span {
  }
}
/* Mobile Nav Menu Layout */
.mobile-nav-container {
  position: absolute;
  left: 30%;
  padding-right: 49%;
  padding-top: 30%;
  padding-bottom: 115%;
  backdrop-filter: blur(40px) saturate(100%) grayscale(20%) brightness(120%);
  display: none;
}
.mobile-nav-items {
  list-style: none;
}
.mobile-nav-item {
  margin-bottom: 2em;
  white-space: nowrap;
  text-align: start;
}
/* Body, Title, Article, and Button Layout */

body {
  width: 100%;
}

.destination-main-container {
  margin-bottom: 10%;
  margin-right: 10%;
}
@media only screen and (max-width: 980px) {
  .destination-main-container {
    margin-right: 23%;
  }
}
@media only screen and (max-width: 650px) {
  .destination-main-container {
    margin-right: 50%;
  }
}
@media only screen and (max-width: 560px) {
  .destination-main-container {
    margin-right: 35%;
  }
}
.pick-destination-header-img-container {
  align-self: flex-end;
}
@media only screen and (max-width: 980px) {
  .pick-destination-header-img-container {
    align-self: center;
  }
}

.pick-destination-header {
  margin-top: 5em;
}
@media only screen and (max-width: 980px) {
  .pick-destination-header {
    margin-right: 23%;
  }
}
@media only screen and (max-width: 650px) {
  .pick-destination-header {
    position: relative;
    right: 2em;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 560px) {
  .pick-destination-header {
    margin-right: 35%;
    right: 1em;
  }
}
.destination-number-span {
  margin-right: 1em;
}
.destination-image {
  margin-top: 5em;
  margin-right: 10em;
  margin-left: 2%;
  width: 60%;
  padding-bottom: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 980px) {
  .destination-image {
    align-self: center;
    margin-left: 0;
    margin-right: 0;
  }
}
@media only screen and (max-width: 650px) {
  .destination-image {
    width: 100%;
  }
}
.destination-article-container {
  width: 380px;
}
@media only screen and (max-width: 1200px) {
  .destination-article-container {
  }
}
@media only screen and (max-width: 980px) {
}
@media only screen and (max-width: 650px) {
  .destination-title {
    width: 400px;
    margin-top: 4em;
  }
}
.destination-paragraph {
  width: 91%;
}
@media only screen and (max-width: 980px) {
  .destination-paragraph {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media only screen and (max-width: 650px) {
  .destination-paragraph {
    align-self: center;
  }
}
.article-footer {
  display: flex;
  justify-content: space-between;
}
.article-footer-item {
  margin-right: 5em;
}
@media only screen and (max-width: 980px) {
  .article-footer-item {
    margin-right: 0;
  }
}
.destination-nav-items {
  list-style: none;
  gap: 2em;
  padding-left: 0;
}
@media only screen and (max-width: 980px) {
  .destination-nav-items {
    padding-left: 2.4em;
  }
}
.destination-title-span {
  display: block;
  margin-top: 0.3em;
  color: white;
}

/* Home Page Typography */
body {
  font-family: "Barlow Condensed", sans-serif;
}
@media only screen and (max-width: 980px) {
  body {
    text-align: center;
  }
}
.destination-nav-item {
  font-size: 1.5em;
}
.nav-bar-span {
  font-weight: 100;
  letter-spacing: 3px;
}
@media only screen and (max-width: 980px) {
  .nav-bar-span {
    font-weight: 400;
  }
  .nav-bar-span:hover {
    opacity: 1;
  }
}
.pick-destination-header {
  letter-spacing: 0.1em;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 200;
}
.destination-number-span {
  filter: brightness(50%);
  font-weight: 400;
}
.destination-title-span {
  font-size: 5em;
  font-weight: 400;
  font-family: Bellefair;
}
.destination-paragraph {
  font-size: 0.9em;
  line-height: 1.8em;
  font-weight: 400;
  color: #d0d6f9;
  font-family: Barlow, sans-serif;
}
.article-footer h3 {
  color: #d0d6f9;
  white-space: nowrap;
}
.article-footer p {
  font-family: Bellefair;
  font-size: 1.5em;
  white-space: nowrap;
}
/* Mobile Nav Menu Typography */
.mobile-home-nav-item {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.2em;
}
.mobile-home-item-word {
  font-weight: 200;
}
